In [2]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv("./data/salaries_2022.csv", index_col=0)
df["employee"] = df["employee"].str.replace("\n", " ")

for i, row in df.iterrows():
    parts = row["employee"].split(", ")
    assert len(parts) == 2

    df.at[i, "name"] = ' '.join(parts[::-1])

df

# df[(df["name"].str.split(" ").str.len() > 2) & (df["department"].str.lower().str.contains("professor"))]

,division,department,title,employee,salary,name
0,A. James Clark\nSchool of\nEngineering,ENGR-A. James Clark School of\nEngineering,Assistant Director,"Dillehay, Brian Farrington","$81,928.37",Brian Farrington Dillehay
1,A. James Clark\nSchool of\nEngineering,ENGR-A. James Clark School of\nEngineering,Assistant Director,"Perrigan, Veronica A.","$88,422.00",Veronica A. Perrigan
2,A. James Clark\nSchool of\nEngineering,ENGR-A. James Clark School of\nEngineering,Assistant Director,"Vidmar, Deborah","$89,756.00",Deborah Vidmar
3,A. James Clark\nSchool of\nEngineering,ENGR-A. James Clark School of\nEngineering,Assistant to the\nDean,"Williams, Sheron Yvonne","$82,930.78",Sheron Yvonne Williams
4,A. James Clark\nSchool of\nEngineering,ENGR-A. James Clark School of\nEngineering,Associate Director,"Andreychek, Melissa","$122,892.53",Melissa Andreychek
...,...,...,...,...,...,...
10237,VP University\nRelations,VPUR-VP University Relations,Research Asst,"McIntyre, Michael Flannery","$69,366.68",Michael Flannery McIntyre
10238,VP University\nRelations,VPUR-VP University Relations,Research Asst,"Traeger, Christa J.","$50,673.71",Christa J. Traeger
10239,VP University\nRelations,VPUR-VP University Relations,Research Asst,"Williams, Aaron J","$57,426.38",Aaron J Williams
10240,VP University\nRelations,VPUR-VP University Relations,Sr Res Asst,"Kalkanis, Sophia J.","$72,069.29",Sophia J. Kalkanis
10241,VP University\nRelations,VPUR-VP University Relations,Vice President,"Remington, Brodie","$461,694.15",Brodie Remington