In [ ]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./data/pt_ratings.csv')
df["employee"] = df["employee"].str.replace("\n", " ")

for i, row in df.iterrows():
    parts = row["employee"].split(", ")
    # assert len(parts) == 2

    df.at[i, "name"] = ' '.join(parts[::-1])
df.head()

# df[(df["name"].str.split(" ").str.len() > 2) & (df["department"].str.lower().str.contains("professor"))]
# df[(df["employee"].str.split(", ").str.len() > 2)]

,year,employee,department,division,title,salary,name
0,2013,"Abed, Eyad H",ENGR-Electrical & Computer Engineering,A. James Clark School of Engineering,Prof,"$216,648.00",Eyad H Abed
1,2013,"Abshire, Pamela A.",ENGR-Electrical & Computer Engineering,A. James Clark School of Engineering,Assoc Prof,"$82,872.96",Pamela A. Abshire
2,2013,"Abshire, Pamela A.",ENGR-Institute for Systems Research,A. James Clark School of Engineering,Assoc Prof,"$55,149.36",Pamela A. Abshire
3,2013,"Abts, Leigh R",ENGR-Fischell Department of Bioengineering,A. James Clark School of Engineering,Res Assoc Prof,"$126,334.14",Leigh R Abts
4,2013,"Adams, Douglas J",ENGR-Continuing & Distance Learning in Engr,A. James Clark School of Engineering,Engineer,"$64,260.00",Douglas J Adams

In [ ]:
rmp_df = pd.read_csv("./data/rmp_ratings.csv")

def combineNames(row):
    if pd.isnull(row["tMiddlename"]):
        return row["tFname"] + " " + row["tLname"]
    return row["tFname"] + " "  + row["tMiddlename"] + " " + row["tLname"]

rmp_df["fullname"] = rmp_df.apply (lambda row: combineNames(row), axis=1)