In [36]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process

pt_df = pd.read_csv("./data/pt_ratings.csv")
salaries_df = pd.read_csv("./data/salaries.csv")
rmp_df = pd.read_csv("./data/rmp_ratings.csv")

In [37]:
# Drop professors w/o any ratings / reviews
pt_df = pt_df.dropna(subset=["average_rating", "reviews"])

# Join names to help name search in salaries
for i, row in salaries_df.iterrows():
    parts = row["employee"].split(", ")
    # assert len(parts) == 2

    salaries_df.at[i, "name"] = " ".join(parts[::-1])

# Join names to help name search in rmp
def combineNames(row):
    if pd.isnull(row["tMiddlename"]):
        return row["tFname"] + " " + row["tLname"]
    return row["tFname"] + " " + row["tMiddlename"] + " " + row["tLname"]

rmp_df["fullname"] = rmp_df.apply(lambda row: combineNames(row), axis=1)

In [38]:
pt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2983 entries, 6 to 11693
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   courses         2983 non-null   object
 1   average_rating  2983 non-null   float64
 2   type            2983 non-null   object
 3   reviews         2983 non-null   object
 4   name            2983 non-null   object
 5   slug            2983 non-null   object
dtypes: float64(1), object(5)
memory usage: 163.1+ KB

In [39]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107395 entries, 0 to 107394
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        107395 non-null  int64
 1   employee    107395 non-null  object
 2   department  107395 non-null  object
 3   division    107395 non-null  object
 4   title       107395 non-null  object
 5   salary      107395 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.9+ MB

In [40]:
pt_df["type"].value_counts()

professor    2853
ta            130
Name: type, dtype: int64

In [41]:
pt_df["average_rating"].describe()

count    2983.000000
mean        3.893974
std         1.194694
min         1.000000
25%         3.000000
50%         4.200000
75%         5.000000
max         5.000000
Name: average_rating, dtype: float64

In [42]:
assert len(pt_df) == len(pt_df.drop_duplicates(subset=["slug"]))

In [43]:
salaries_df["employee"] = salaries_df["employee"].str.replace("\n", " ")

In [45]:
pt_names = pt_df["name"].unique()

for name in salaries_df["name"].unique()[:10]:
    match = process.extract(name, pt_names)
    print(f"{name} -> {match}")

Eyad H Abed -> [('Eyad Abed', 95), ('Zeyad Emam', 57), ('Cyrah Ward', 57), ('Behtash Babadi', 56), ('Adi Mahalel', 55)]
Pamela A. Abshire -> [('Pamela Abshire', 95), ('Pamela Orel', 86), ('A Anthony', 86), ('A Sharma', 86), ('Amde Amde', 64)]
Leigh R Abts -> [('R Apter', 86), ('Leigh Leslie', 58), ('Raley Roberts', 56), ('Leigha McReynolds', 55), ('Garth Libhart', 53)]
Douglas J Adams -> [('Douglas Hamilton (Astronomy)', 86), ('Douglas Hamilton (Physics)', 86), ('Douglas Oard', 74), ('Douglas Kern', 70), ('Douglas Julin', 66)]
Vincent G. Adams -> [('Vincent Lee', 74), ('Daniel Vincent', 66), ('Vincent Nguyen', 64), ('Brienne Adams', 62), ('Dawn Gavin', 60)]
Kofi Frimpong Addo -> [('Dong Dong', 64), ('Yang Tao', 56), ('David Simon', 55), ('Don DeVoe', 53), ('John Kim', 53)]
Raymond A. Adomaitis -> [('Raymond Adomaitis', 95), ('Raymond Weil', 86), ('A Kruglanski', 86), ('A Anthony', 86), ('A.U. Shankar', 86)]
Mohamed Sherif Aggour -> [('Mohamed Aggour', 86), ('Amy Fisher', 63), ('Mohamad Al-Sheikhly', 62), ('Mohammad Fazelpour', 62), ('Eric Haag', 60)]
Carol-Ann Wood Agustin -> [('Ann Battle', 86), ('Ann Mason', 86), ('Ann Smith', 86), ('Carol Cron', 86), ('Carol Mossman', 86)]
Farshad Ahdi -> [('Partha Lahiri', 64), ('Fariha Khalid', 64), ('Nahid Ahmadian', 62), ('Hasan Elahi', 61), ('Aya Farhat', 61)]

In [54]:
salary_names = salaries_df["name"].unique()

for name in pt_df["name"].unique()[:10]:
    # match = process.extract(name, salary_names)
    match = process.extractOne(name, salary_names, score_cutoff=90)
    print(f"{name} -> {match}")

    if match:
        salaries = salaries_df[salaries_df["name"] == match[0]]
        display(salaries)

Abhijit Dasgupta -> ('Abhijit Dasgupta', 100)

,year,employee,department,division,title,salary,name
195,2013,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Prof,"$167,138.22",Abhijit Dasgupta
12965,2014,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Prof,"$183,580.92",Abhijit Dasgupta
25384,2015,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Prof,"$190,895.40",Abhijit Dasgupta
35612,2016,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Prof,"$190,895.40",Abhijit Dasgupta
45733,2017,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Prof,"$198,038.26",Abhijit Dasgupta
56058,2018,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Prof,"$198,038.26",Abhijit Dasgupta
66508,2019,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Prof,"$201,999.03",Abhijit Dasgupta
77096,2020,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Professor,"$211,190.29",Abhijit Dasgupta
87770,2021,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark School of Engineering,Prof & Assoc Chair,"$215,414.09",Abhijit Dasgupta
98038,2022,"Dasgupta, Abhijit",ENGR-Mechanical Engineering,A. James Clark\nSchool of\nEngineering,Prof & Assoc Chair,"$227,086.06",Abhijit Dasgupta

Abigail McEwen -> ('Abigail McEwen', 100)

,year,employee,department,division,title,salary,name
2522,2013,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Asst Prof,"$64,260.00",Abigail McEwen
14073,2014,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Asst Prof,"$70,608.20",Abigail McEwen
26286,2015,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Asst Prof,"$73,910.42",Abigail McEwen
36480,2016,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Asst Prof,"$73,910.42",Abigail McEwen
46590,2017,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Assoc Prof,"$82,910.42",Abigail McEwen
56936,2018,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Assoc Prof,"$82,910.42",Abigail McEwen
67392,2019,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Assoc Prof,"$84,568.63",Abigail McEwen
78014,2020,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Associate Professor,"$93,721.62",Abigail McEwen
88605,2021,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts & Humanities,Associate Professor,"$95,596.05",Abigail McEwen
98847,2022,"McEwen, Abigail",ARHU-Art History & Archaeology,College of Arts\n& Humanities,Associate\nProfessor,"$98,965.81",Abigail McEwen

Abolhassan Jawahery -> ('Abolhassan Jawahery', 100)

,year,employee,department,division,title,salary,name
4381,2013,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Prof,"$207,407.82",Abolhassan Jawahery
17489,2014,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Prof,"$218,318.32",Abolhassan Jawahery
29270,2015,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Prof,"$228,991.35",Abolhassan Jawahery
39368,2016,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Dist Univ Prof,"$228,991.35",Abolhassan Jawahery
49500,2017,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Dist Univ Prof,"$234,542.35",Abolhassan Jawahery
59873,2018,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Dist Univ Prof,"$234,542.35",Abolhassan Jawahery
70410,2019,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Dist Univ Prof,"$239,233.20",Abolhassan Jawahery
81041,2020,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Distinguished Univ Professor,"$250,118.67",Abolhassan Jawahery
91517,2021,"Jawahery, Abolhassan",CMNS-Physics,"College of Computer, Math & Natural Sciences",Distinguished Univ Professor,"$255,121.04",Abolhassan Jawahery
101714,2022,"Jawahery, Abolhassan",CMNS-Physics,"College of\nComputer, Math\n& Natural\nSciences",Distinguished Univ\nProfessor,"$264,114.06",Abolhassan Jawahery

Abram Kagan -> ('Abram Kagan', 100)

,year,employee,department,division,title,salary,name
4408,2013,"Kagan, Abram",CMNS-Mathematics,"College of Computer, Math & Natural Sciences",Prof & Dir,"$128,154.98",Abram Kagan
17330,2014,"Kagan, Abram",CMNS-Mathematics,"College of Computer, Math & Natural Sciences",Prof & Dir,"$144,773.63",Abram Kagan
29108,2015,"Kagan, Abram",CMNS-Mathematics,"College of Computer, Math & Natural Sciences",Prof & Dir,"$135,884.12",Abram Kagan
39267,2016,"Kagan, Abram",CMNS-Mathematics,"College of Computer, Math & Natural Sciences",Prof,"$85,451.17",Abram Kagan
49402,2017,"Kagan, Abram",CMNS-Mathematics,"College of Computer, Math & Natural Sciences",Prof,"$127,678.72",Abram Kagan

Adam Binkley -> ('Adam Ross Binkley', 95)

,year,employee,department,division,title,salary,name
1948,2013,"Binkley, Adam Ross",ARHU-English,College of Arts & Humanities,Lecturer,"$16,295.52",Adam Ross Binkley
1949,2013,"Binkley, Adam Ross",ARHU-National Foreign Language Center,College of Arts & Humanities,Prog Coor,$22.44,Adam Ross Binkley
14408,2014,"Binkley, Adam Ross",ARHU-English,College of Arts & Humanities,Lecturer,"$25,743.06",Adam Ross Binkley
21646,2014,"Binkley, Adam Ross",USG-Universities at Shady Grove,Universities at Shady Grove,Coordinator,$19.00,Adam Ross Binkley
32761,2015,"Binkley, Adam Ross",USG-Shady Grove Center,Universities at Shady Grove,Coordinator,"$45,900.00",Adam Ross Binkley
42851,2016,"Binkley, Adam Ross",USG-Shady Grove Center,Universities at Shady Grove,Coordinator,"$45,900.00",Adam Ross Binkley
53108,2017,"Binkley, Adam Ross",USG-Shady Grove Center,Universities at Shady Grove,Coordinator,"$54,492.48",Adam Ross Binkley
63526,2018,"Binkley, Adam Ross",USG-Shady Grove Center,Universities at Shady Grove,Coordinator,"$54,492.48",Adam Ross Binkley
74117,2019,"Binkley, Adam Ross",USG-Shady Grove Center,Universities at Shady Grove,Coordinator,"$55,582.33",Adam Ross Binkley
84764,2020,"Binkley, Adam Ross",USG-Shady Grove Center,Universities at Shady Grove,Coordinator,"$58,111.41",Adam Ross Binkley
95093,2021,"Binkley, Adam Ross",USG-Shady Grove Center,Universities at Shady Grove,Coordinator,"$59,273.64",Adam Ross Binkley
105285,2022,"Binkley, Adam Ross",USG-Shady Grove Center,Universities at\nShady Grove,Coordinator,"$61,363.04",Adam Ross Binkley

Adam Hsieh -> ('Adam H. Hsieh', 95)

,year,employee,department,division,title,salary,name
378,2013,"Hsieh, Adam H.",ENGR-Fischell Department of Bioengineering,A. James Clark School of Engineering,Assoc Prof Assoc Chair,"$93,480.55",Adam H. Hsieh
12608,2014,"Hsieh, Adam H.",ENGR-Fischell Department of Bioengineering,A. James Clark School of Engineering,Assoc Prof Assoc Chair,"$100,136.37",Adam H. Hsieh
25067,2015,"Hsieh, Adam H.",ENGR-Fischell Department of Bioengineering,A. James Clark School of Engineering,Assoc Prof Assoc Chair,"$142,993.49",Adam H. Hsieh
35276,2016,"Hsieh, Adam H.",ENGR-Fischell Department of Bioengineering,A. James Clark School of Engineering,Assoc Prof,"$53,622.56",Adam H. Hsieh
42766,2016,"Hsieh, Adam H.",UGST-Honors College,Undergraduate Studies,Lecturer,"$5,000.00",Adam H. Hsieh
53011,2017,"Hsieh, Adam H.",UGST-Honors College,Undergraduate Studies,Lecturer,"$5,000.00",Adam H. Hsieh

Adam Porter -> ('Adam A. Porter', 95)

,year,employee,department,division,title,salary,name
4879,2013,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Prof,"$47,897.72",Adam A. Porter
4880,2013,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Prof,"$17,564.62",Adam A. Porter
16638,2014,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Prof,"$99,559.30",Adam A. Porter
17202,2014,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Prof,"$36,608.12",Adam A. Porter
28460,2015,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Prof,"$103,327.62",Adam A. Porter
28982,2015,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Prof,"$37,993.74",Adam A. Porter
38637,2016,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Prof,"$103,327.62",Adam A. Porter
39168,2016,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Prof,"$37,993.74",Adam A. Porter
48785,2017,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Prof,"$106,978.62",Adam A. Porter
49310,2017,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Prof,"$39,044.74",Adam A. Porter
59130,2018,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Prof,"$106,978.62",Adam A. Porter
59684,2018,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Prof,"$39,044.74",Adam A. Porter
69643,2019,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Prof,"$109,118.19",Adam A. Porter
70219,2019,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Prof,"$39,825.63",Adam A. Porter
80266,2020,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Professor,"$114,083.23",Adam A. Porter
80845,2020,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Professor,"$41,637.76",Adam A. Porter
90760,2021,"Porter, Adam A.",CMNS-Computer Science,"College of Computer, Math & Natural Sciences",Professor,"$116,364.89",Adam A. Porter
91320,2021,"Porter, Adam A.",CMNS-Institute for Advanced Computer Studies,"College of Computer, Math & Natural Sciences",Professor,"$42,470.52",Adam A. Porter
100981,2022,"Porter, Adam A.",CMNS-Computer Science,"College of\nComputer, Math\n& Natural\nSciences",Professor,"$121,916.49",Adam A. Porter
101529,2022,"Porter, Adam A.",CMNS-Institute for Advanced\nComputer Studies,"College of\nComputer, Math\n& Natural\nSciences",Professor,"$44,075.22",Adam A. Porter

Adi Mahalel -> ('Adi Mahalel', 100)

,year,employee,department,division,title,salary,name
14673,2014,"Mahalel, Adi",ARHU-Meyerhoff Program & Center for Jewish Stu...,College of Arts & Humanities,Lecturer,"$56,650.00",Adi Mahalel
26761,2015,"Mahalel, Adi",ARHU-Meyerhoff Program & Center for Jewish Stu...,College of Arts & Humanities,Visit Assoc Prof,"$61,200.00",Adi Mahalel
36936,2016,"Mahalel, Adi",ARHU-Meyerhoff Program & Center for Jewish Stu...,College of Arts & Humanities,Visit Assoc Prof,"$61,200.00",Adi Mahalel
47074,2017,"Mahalel, Adi",ARHU-Meyerhoff Program & Center for Jewish Stu...,College of Arts & Humanities,Adjunct Asst Prof,"$61,984.63",Adi Mahalel
57409,2018,"Mahalel, Adi",ARHU-Meyerhoff Program & Center for Jewish Stu...,College of Arts & Humanities,Adjunct Asst Prof,"$61,984.63",Adi Mahalel
67888,2019,"Mahalel, Adi",ARHU-Meyerhoff Program & Center for Jewish Stu...,College of Arts & Humanities,Adjunct Asst Prof,"$63,224.32",Adi Mahalel
78518,2020,"Mahalel, Adi",ARHU-Meyerhoff Program & Center for Jewish Stu...,College of Arts & Humanities,Adjunct Asst Professor,"$66,101.12",Adi Mahalel
89061,2021,"Mahalel, Adi",ARHU-Meyerhoff Program & Center for Jewish Stu...,College of Arts & Humanities,Adjunct Asst Professor,"$67,423.14",Adi Mahalel
99297,2022,"Mahalel, Adi",ARHU-Meyerhoff Program &\nCenter for Jewish St...,College of Arts\n& Humanities,Adjunct Asst\nProfessor,"$70,140.37",Adi Mahalel

Adil Hassam -> ('Adil Hassam', 100)

,year,employee,department,division,title,salary,name
101413,2022,"Hassam, Adil",CMNS-Inst for Research in\nElectronics & Appli...,"College of\nComputer, Math\n& Natural\nSciences",Professor,"$44,731.34",Adil Hassam
101832,2022,"Hassam, Adil",CMNS-Physics,"College of\nComputer, Math\n& Natural\nSciences",Professor,"$67,096.99",Adil Hassam

Adriane Fang -> ('Adriane Fang', 100)

,year,employee,department,division,title,salary,name
2145,2013,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Asst Art-In-Res,"$51,000.00",Adriane Fang
15098,2014,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Asst Prof,"$61,800.00",Adriane Fang
27062,2015,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Asst Prof,"$64,897.81",Adriane Fang
37249,2016,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Asst Prof,"$64,897.81",Adriane Fang
47425,2017,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Asst Prof,"$70,000.00",Adriane Fang
57742,2018,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Asst Prof,"$70,000.00",Adriane Fang
68216,2019,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Asst Prof,"$71,400.00",Adriane Fang
78838,2020,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Assistant Professor,"$74,648.81",Adriane Fang
89423,2021,"Fang, Adriane","ARHU-School of Theatre, Dance & Performance St...",College of Arts & Humanities,Associate Professor,"$86,341.79",Adriane Fang
99621,2022,"Fang, Adriane","ARHU-School of Theatre, Dance\n& Performance S...",College of Arts\n& Humanities,Associate\nProfessor,"$89,385.34",Adriane Fang